.container {
  width: 500px;
  height: 300px;
  max-width: 95%;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: -3px 1px 23px -3px rgba(122, 113, 122, 1);

  .placeholderText {
    text-align: center;
    margin-top: 100px;
  }

  .fieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > div > span {
      &:first-child {
        font-weight: bold;
        display: inline-block;
        width: 30%;
        padding-left: 100px;

        @media screen and (max-width: 780px) {
          padding-left: 10px;
          width: fit-content;
          margin-right: 5px;
        }
      }
    }

    .avatar {
      width: 150px;
      height: 150px;
      object-fit: contain;
      align-self: center;
      margin-bottom: 30px;
      border-radius: 50%;
    }
  }
}
